# whitelist
language: go
go:
  - 1.9.1
branches:
  only:
    - master
sudo: required
services:
#Enable docker service inside travis
  - docker
before_install:
  - sudo apt-get update
  - sudo apt-get install -yq python3-pip python3-dev build-essential
  - sudo pip install virtualenv
  - virtualenv -p python3 venv
  - source venv/bin/activate
  - export GOPATH=$GOPATH:$HOME
  - go get golang.org/x/tools/cmd/cover
  - go get -t -v ./...
install:
  - pip3 install jupyter_kernel_gateway==1.2.2
script:
  - make test
  - make
  - docker --version  # document the version travis is using
  - export PATH=$PATH:$HOME/.local/bin # put aws in the path
after_script:
  #build core-server and push to dockerhub
  - bash config/buildDockerImage.sh
after_success:
  - bash <(curl -s https://codecov.io/bash)
notifications:
  slack: 3blades:0hkVceOdmVuyXNpgHJHCneo9
env:
  global:
    - $DOCKER_IMAGE_NAME="3blades/core-server"
