# whitelist
language: go
go:
  - 1.7.4
branches:
  only:
    - master
sudo: required
services:
#Enable docker service inside travis
  - docker
before_install:
  - sudo apt-get update
  - sudo apt-get install -yq python3
  - sudo apt-get install -yq r-base
  - go get golang.org/x/tools/cmd/cover
  - go get -t -v ./...
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
before_script:
  - sudo pip3 install jupyter_kernel_gateway
script:
  - make test
  - make
  - docker --version  # document the version travis is using
  - export PATH=$PATH:$HOME/.local/bin # put aws in the path
after_script:
  #build core-server and push to dockerhub
  - docker build -t 3blades/core-server .
  - docker push 3blades/core-server:latest
after_success:
  - bash <(curl -s https://codecov.io/bash)
notifications:
  - slack: 3blades:WkvRG9pgF8jIOpq8i8BjRqy3
